*{
    margin: 0;
}

.bodyIndex {
    background-image: url(imagens/bgIndex.png);
    background-size: 100%;
    display: table; 
    width: 100%;
    height: 100%;
}

body {
    background-image: url(imagens/bg.jpeg);
    background-size: 100%;
    background-repeat: repeat;
    display: table;
    width: 100%;
    height: 100%;
}

.menu{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px;
    width: 300px;
    height: 45px;
    float: right;
}
.menu ul{
    list-style-type: none;
}

.menu ul a{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    float: left;
    text-decoration: none;
    color: black;
    font-family: "Comic Sans MS";
}

.menu ul a:hover{
    font-size: 19px !important;
    color: #1A1B1B;
    text-shadow: white 1px 1px 1px;
}

.geral{
    width: 1024px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.conteudo{
    width: 100%;
    height: 763px;
    display: block;
    margin-top: 30%;
}

.bloco01{
    width: 100%;    
    height: auto;
    display: inline-block; 
}

.bloco02{        
    justify-content: center;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

.bloco03{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
}

.imagem01, .imagem02, .imagem03{   
    margin-left: 55px;
    margin-right: 20px;
    width: 250px;
    height: 250px;
    display: inline-block;
}


.imagem04, .imagem05, .imagem06{
    margin-left: 30px;
    width: 300px;
    height: 300px;
    display: inline-block; 
    box-shadow: 0px 0px 10px;
}

.imagem04 img, .imagem05 img, .imagem06 img{
    width: 300px;
    height: 300px;
    display: inline-block;
    border: black solid 1px;
}

.texto01, .texto02, .texto03{    
    box-shadow: 0px 0px 10px;
    text-align: center;
    margin-left: 32.5px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 300px;
    height: 100px;
    border: black solid 1px;
    float: left;
    display: inline-block;
    background-color: white;
}

.bloco03 span{
    font-size:25px;
    font-family: "Comic Sans MS";
}

.formLogin{
    font-size: 33px;
    padding-top: 40px;
    box-shadow: 0px 0px 10px;
    background-color: white;
    width: 400px;
    height: 475px;
    text-align: center;
    border: black solid 1px;
    margin-top: 15%;
    margin-left: 40%;
}   

#formTitle{
    font-family: 'Comic Sans MS';
    border: black groove 4px;
    width:50%;
    text-align: center;
    margin-left: 25%;
    padding-bottom: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.formLogin .formHead input{
    text-align: center;
    font-family: 'Comic Sans MS';
    border: black groove 3px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
    height: 30px;
}

.formLogin .esqueci{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: black;
    margin-bottom: 0px;
}

.formLogin .esqueci a:visited{
    color:black;
}

.button{
    border: none;
    text-decoration: none;
    font-size: 20px;
    padding: 5% 10%;
    text-align: center;
    color: black;
    font-family: 'Comic Sans MS';
    display: inline;
    border-radius: 50px;
}

.button:hover{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.formLogin .loginButtons .button:first-child{
    background-color: red;
    float: left;
    margin-left: 17px;
}

.formLogin .loginButtons .button{
    background-color: green;
    float: right;
    margin-right: 17px;
}

.formCadastro{
    font-size: 20px;
    padding-top: 40px;
    box-shadow: 0px 0px 10px;
    background-color: white;
    width: 525px;
    height: 1290px;
    text-align: center;
    border: black solid 1px;
    margin-top: 0.2%;
    margin-left: 35%;
    margin-bottom: 15px;
}

.formCadastro .formHead input{
    margin-bottom: 12px;
}

.formCadastro .formHead input{
    text-align: center;
    font-family: 'Comic Sans MS';
    border: black groove 3px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
    height: 25px;
}
.formCadastro .checkboxes{
    float: left;
    margin-left:44px
}   

.formCadastro .sexo span{
    float: left;
    margin-left:115px
}

.formCadastro .checkboxes label{
    float:inline-start;
}   

.formCadastro .formButtons{
    margin-top: 100px;
    float: unset;
    padding: 1% 4%;
}

#voltarCadastro{
    font-size: 16px;
    padding: 1% 4%;
    display: unset;
    float: left;
    margin-top: -35px;
    margin-left: 5px;
    background-color: red;
}

.formCadastro .avisosNovidades, .sexo{
    border: black groove 3px;
    border-collapse: separate;
    padding-bottom: 90px;
    padding-top: 10px;
    margin-bottom: -95px;
    background-color:#D1D1D1;
}

.formCadastro .formButtons .button:first-child{
    margin-top: 10px;
    background-color: orange;
    float: left;
    margin-right: 17px;
}

.formCadastro .formButtons .button:last-child{
    margin-top: 10px;
    background-color: green;
    float: right;
    margin-left: 17px;
}

.cadastroBody{background-image: url(imagens/bgCadastro.jpeg);}